.gallery-image img {
    width: 100%;
}

header .header-banner {
    text-align: center;
    width: 100%;
    height: calc(80vh - 500px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;

}

header .header-img {
    text-align: center;
    background-image: url("img/banner.jpg");
    width: 100%;
    height: calc(80vh - 400px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

header .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

header nav ul li {
    display: inline-block;
    padding: 16px 14px;
}

nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
}

header h1 {
    font-family: "Gentium Book Plus", sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #3a383d;
    line-height: 70px;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px #3a383d;
    margin-bottom: 0;
}

header h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    color: #3a383d;
    text-transform: uppercase;
    padding-bottom: 10px;
}

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: rgb(153, 119, 55);
    margin-top: 20px;
    overflow: hidden;
}

.disclaimer {
    display: none;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 0px;
}

footer ul li {
    display: block;
    padding: 0 0 10px 0;
}

footer ul li p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

footer ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-sm {
    width: 32px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

hr {

    color: #4f5663;
    border-width: 2px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 5px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    width: 100%;
    padding-inline: 60px;
    box-sizing: border-box;
}

.meist {
    font-family: "Gentium Book Plus", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    color: black;
    text-align: left;
}

.meist img {
    display: none;
}

.gallery-h2 {
    font-family: "Gentium Book Plus", sans-serif;
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2px;
    color: #3a383d;
    text-transform: uppercase;
    text-align: left;
}

.gallery-image {
    position: relative;
    text-align: center;
    padding: 30px;
}

.gallery-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
}

.post-header {
        /*kujundus*/
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111;
    
        /*positsioneerimine*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media only screen and (min-width: 950px) {

    header h1 a {
        font-size: 80px;
    }

    header h2 {
        font-size: 24px;
        margin-top: 20px;
    }

    header nav ul li {
        padding: 16px 42px;
    }
}

@media only screen and (min-width: 950px) {

.disclaimer {

      display: block;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 24px;
      color: #fff;
      text-transform: uppercase;
      float: left;
      margin: 0 80px;

}

.disclaimer span {

      font-style: italic;

}

.meist {
    display: flex;
    justify-content: space-between;
}

.meist > * {
    width: 45%;
}

.meist img {
    display: block;
}

#retseptid {
    display: none;
}
}